
<div class="container-fluid card ">
  <h3 class="text-center m-3">Mansoon Tour Packages</h3>
    <!-- Three columns of text below the carousel -->
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img class="lazy" src="./assets/images/Andaman_Islands_india.jpg" alt="Rameshwaram Temple" style="width:100%; height:150;">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <div class="pkgtext-box">
              <h3> Exotic Andaman Nicobar Tour </h3>
              <div class="clearfix"></div>
              <span>6 N / 7 D</span>
              <p><span><i class="bi bi-geo-alt-fill"></i>Port Blair - Havelock Island - Port Blair (6N/7D)</span>
                <br>
                The Andaman Islands are an Indian archipelago in the Bay of Bengal. These roughly 300 islands are known for their palm-lined, white-sand beaches, mangroves and tropical rainforests. Coral reefs supporting marine life such as sharks and rays make for popular diving and snorkeling sites. Indigenous Andaman Islanders inhabit the more remote islands, many of which are off limits to visitors.
              <div class="clearfix"></div>
            </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card-body">
          <div class="pkgtext-box">
            <div class="pricebx-contr">
              <p class="price-on-request"> Price On Request </p>
              <div class="clearfix"></div>                
             <a [routerLink]="null" class="pkglinks-view text-center">View Details</a>
              <a routerLink="/Enquire_Now" class="pkglinks-enquire text-center">Enquire Now</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img class="lazy" src="./assets/images/warangal.jpeg" alt="1000 pillar temple"  style="width:100%; height:150;">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <div class="pkgtext-box">
            <h3>Essential Warangal</h3>
            <div class="clearfix"></div>
            <span>4 N / 5 D</span>
            <p><span><i class="bi bi-geo-alt-fill"></i> Warangal (4N/5D)</span>
              <br>
              Warangal, the historical city of Telangana, is a destination worth visiting. A popular weekend getaway from Hyderabad, Warangal presents a beautiful blend of history, cultural vibrancy, architectural masterpieces and mesmerizing nature. Located around 148 km away from Hyderabad, Warangal city also enjoys a good connectivity to the rest of the country.
             </p>
           
            <div class="clearfix"></div>
          </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card-body">
        <div class="pkgtext-box">
          <div class="pricebx-contr">
            <p class="price-on-request"> Price On Request </p>
            <div class="clearfix"></div>                
           <a [routerLink]="null" class="pkglinks-view text-center">View Details</a>
            <a routerLink="/Enquire_Now" class="pkglinks-enquire text-center">Enquire Now</a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img class="lazy" src="./assets/images/kerala3.jpeg" alt="kerala boating" title="" style="width:100%; height:150;">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <div class="pkgtext-box">
          <h3>Amazing Munnar-Alleppey Tour</h3>
          <div class="clearfix"></div>
          <span>4 N / 5 D</span>
          <p><span><i class="bi bi-geo-alt-fill"></i> Munnar -Thekkady - Allepey (4N/5D)</span>
            <br>
            Kerala, a jewel of a tourist destination in the southern part of the country, is known for its alluring charm and beauty. Embraced by the Malabar Coast, jotted by lush coconut groves and fringed by a network of canals, holidays in Kerala or God's Own Country is all about the pristine and untouched beauty of Mother Nature.
           </p>
          <div class="clearfix"></div>
        </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card-body">
      <div class="pkgtext-box">
        <div class="pricebx-contr">
          <p class="price-on-request"> Price On Request </p>
          <div class="clearfix"></div>                
         <a [routerLink]="null" class="pkglinks-view text-center">View Details</a>
          <a routerLink="/Enquire_Now" class="pkglinks-enquire text-center">Enquire Now</a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
      


