<div class="container-fluid card">
  <h3 class="text-center mt-2 ">Pick Your Destination Theme</h3>
  <div class="row justify-content-evenly ">
    <div id="honeymoon" class="col-md-3 rounded-3 m-1 h4 text-center d-flex row justify-content-centre align-items-center"><a class="p-2"  routerLink="/honeymoon"> Honeymoon</a>
    </div><!-- kerala col-md-3 -->
    
    <div id="heritage" class="col-md-3 rounded-3 m-1 h4 text-center d-flex row justify-content-centre align-items-center"><a class="p-2"  routerLink="/heritage"> Heritage </a>
    </div><!-- Ap col-md-3 -->
    
    <div id="hillstation" class="col-md-3 rounded-3 m-1 h4 text-center d-flex row justify-content-centre align-items-center"><a class="p-2"  routerLink="/hill_station"> Hill Station </a>
    </div><!-- TS col-md-3 -->
    
    <div id="piligrimage" class="col-md-3 rounded-3 m-1 h4 text-center d-flex row justify-content-centre align-items-center"><a class="p-2"  routerLink="/piligrimiage"> Piligrimiage </a>
    </div><!-- piligrimiage col-md-3 -->
    
    <div id="wildlife" class="col-md-3 rounded-3 m-1 h4 text-center d-flex row justify-content-centre align-items-center"><a class="p-2"  routerLink="/wildlife"> Wildlife </a>
    </div><!-- tn col-md-3 --> 
    
    <div id="beach" class="col-md-3 rounded-3 m-1 h4 text-center d-flex row justify-content-centre align-items-center"><a class="p-2"  routerLink="/beach"> Beach </a>
    </div><!-- goa col-md-3 -->
    
  </div>
  <!-- /.row -->
</div>