<div class="container-fluid">
	<div class="row">

    	<div class="col-lg-12 text-center mt-5">
        	<div class="text-center"><h1 class="h1-head1">Contact Us</h1></div>
            <p class="ptxt"><i>Contact Dream Trawells through the helpline number or just fill out our simple Online Query Form given below. Once you have made the first contact, our representatives will touch base, gather your inputs and suggest useful information for your tour. <strong>Call us. We would love to hear from you!</strong></i></p>
        </div>
    </div>
    
    <div class="row px-5">
    	<div class="text-center gray-line1"><h2 class="h2-head1 whtbg">Our Offices In India</h2></div>
        
        <div class="col-sm-4 contact-leftbx ">
        	<p>
            	<strong>Head Office:</strong>
                <br />
                XY,Lorem ipsum dolor,
                <br />
				        Lorem, ipsum dolor - 500 0XX (India)
                <br>
                <i class="bi bi-telephone-fill"></i> Tel: +91 00 0000 XXXX
            </p>
        </div>
        
        <div class="col-sm-4 contact-leftbx">
        	<p>
            	<strong>Branch Office:</strong>
                <br />
                XY,Lorem ipsum dolor,
                <br />
                Lorem, ipsum dolor - 110 0XX (India)
                <br>
                <i class="bi bi-telephone-fill"></i> Tel: +91 00 0000 XXXX
            </p>
        </div>
        
        <div class="col-sm-4 contact-leftbx">
        	<p>
            	<strong>XYZ Office:</strong>
                <br />
                 XY,Lorem ipsum dolor,
                <br />
                 Lorem, ipsum dolor - 560 0XX (India)
                <br />
                <i class="bi bi-telephone-fill"></i> Tel: +91 00 0000 XXXX
            </p>
        </div>
        <div class="text-center gray-line1"><h2 class="h2-head1">Call Our Travel Experts</h2></div>
      <br>
    
        <div class="flex-contr">
            <div class="call-numb flex-contr-wrapper">
                <div>
                    <ul class="">
                        <li>Goa <a href="#" class="disabled">+91 00 0000 XXXX</a></li>
                        <li>Andhra pradesh <a href="#" class="disabled">+91 00 0000 XXXX</a></li>
                        <li>Telangana <a href="#" class="disabled">+91 00 0000 XXXX</a></li>
                        <li>Kerala <a href="#" class="disabled">+91 00 0000 XXXX</a></li>
                        <li>Tamil Nadu <a href="#" class="disabled">+91 00 0000 XXXX</a></li>
                        <li>Karnataka <a href="#" class="disabled">+91 00 0000 XXXX</a></li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
        <div class="col-xs-12 op-hrs  px-5">
          <div class="row">
              <div class="col-xs-12 headcnt">Operational Hours</div><hr class="divider">
              
              <div class="col-sm-6 contact-leftbx">
                  <p>
                      <strong>Monday to Friday:</strong>
                      <br />
                      From (9:30 am to 6:30 pm IST)
                  </p>
              </div>
              
              <div class="col-sm-6 contact-leftbx">
                  <p>
                      <strong>Saturday:</strong>
                      <br />
                      From (9:30 am to 2:00 pm IST)
                  </p>
              </div>
          </div>
      </div>
      <p class="text-center m-1">For any support on ongoing trips, please call Tour Manager assigned to your trip.</p>
      <p class="text-center m-1">Unlock your way to a perfect holiday planning with our experts.
        <br />
        <i class="bi bi-envelope-fill"></i><strong> E-mail: supportxyzdreamTrawells@gmail.com</strong> .
      </p>
    </div>
  
  