<div class="container-fluid card">
  <h3 class="text-center mt-2 ">Explore our best Seasonal Tour Packages</h3>
  <p class="mx-1 para">India also has a long coastline which provides a comparatively cool climate during summer and warmth during the winter. Thus Beach Tourism is also becoming very popular in India with the development of beaches like Goa, Kovalam, Mamallapuram, etc. Thus, the climatic differences between different regions have helped India to develop beach and hill tourism.</p>
  <app-read-more-less>
    Looking to plan hassle-free and embalming summer holidays in India in 2022? Our selection of meticulously handpicked Best places to visit in Summer in India, along with recommended summer tour packages, have been assembled to offer you the widest choice of exotic, calm, and sun-soaked locales across India.
  </app-read-more-less>
  <app-read-more-less>
    As the cool breeze kisses your cheeks you start looking for the best places to visit in India in winter. The vast topography of India offers a variety of options to travelers. Sometimes it becomes difficult to decide the best destination for a winter holiday. For your convenience here is a list of the top winter holiday destinations in India.
    <br>
    <br>
    When it comes to monsoon season, India is probably one of the best countries. Here are 10 Best places to visit in India during monsoon - June, July and August.
    <br>
    <br>
    Ladakh, Kerala, Goa, Udaipur, Cherrapunji, Munnar, Valley of flowers, Alleppey Coorg, Wayand
    <br>
    <br>
    In fact, monsoon is an excellent time for planning holidays with some very spectacular monsoon destinations in India offering loads of activities. Come June and July and the routes to Ladakh in Jammu and Kashmir and Spiti Valley in Himachal Pradesh open up and become fully functional.
    <br>
    <br>
    Even in South India, hill stations like Kodaikanal, Munnar and Coorg and Ooty, replenished by the monsoon, offer mesmerizing views and romantic holiday experience. No wonder they are reckoned as the best honeymoon destinations in India during monsoon. Cherish a wonderful romantic escape as you travel to these amazing places to start a new phase of your life.
    <br>
    <br>
    With rains kicking in the replenishment, Kerala with its age-old tradition of Ayurveda and meditation becomes a favored destination. In fact, when it comes to places to visit in Kerala during monsoon season, one could be spoiled for choice. Whether it's for availing the Ayurvedic therapies or spending time in the lap of nature, 'God's Own Country' is the place for you!
  </app-read-more-less>
  <div class="row justify-content-evenly ">
    <div id="summer"  class="col-md-3 rounded-3 m-1 h5 text-center d-flex row justify-content-centre align-items-center"><a  routerLink="/Season/summer">Summer</a>
    </div>
    <!-- summer col-md-3 -->
    <div id="winter"  class="col-md-3 rounded-3 m-1 h5 text-center d-flex row justify-content-centre align-items-center"><a  routerLink="/Season/winter">Winter</a>
    </div>
    <!-- winter col-md-3 -->
    <div id="mansoon"  class="col-md-3 rounded-3 m-1 h5 text-center d-flex row justify-content-centre align-items-center"><a  routerLink="/Season/mansoon">Mansoon </a>
    </div>
    <!-- mansoon col-md-3 -->
  </div>
  <!-- /.row -->
</div>
<router-outlet> </router-outlet>