<div class="container-fluid card ">
  <h3 class="text-center m-3">Karnataka Tour Packages</h3>
    <!-- Three columns of text below the carousel -->
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img class="lazy" src="./assets/images/Vidah-Sauda-state-legislature-building-Karnataka-Bengaluru.webp" alt="Vidah-Sauda-state-legislature-building-Karnataka-Bengaluru" style="width:100%; height:150;">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <div class="pkgtext-box">
              <h3> Karnataka Tour </h3>
              <div class="clearfix"></div>
              <span>6 N / 7 D</span>
              <p><span><i class="bi bi-geo-alt-fill"></i>Bangalore - Mysore - Hassan - Hospet - Bangalore(6N/7D)</span>
                <br>
                Karnataka tour packages are a stunning introduction to Southern India. This prosperous state is drenched with history, culture, and diverse landscapes. Karnataka has a blend of a glittering palace, exhilarating national parks, UNESCO World Heritage Ruins, pristine beaches, and beautiful hill stations.
              </p>
             
              <div class="clearfix"></div>
            </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card-body">
          <div class="pkgtext-box">
            <div class="pricebx-contr">
              <p class="price-on-request"> Price On Request </p>
              <div class="clearfix"></div>                
             <a [routerLink]="null" class="pkglinks-view text-center">View Details</a>
              <a routerLink="/Enquire_Now" class="pkglinks-enquire text-center">Enquire Now</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img class="lazy" src="./assets/images/karnataka.jpeg" alt="A carved stone chariot" style="width:100%; height:150;">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <div class="pkgtext-box">
            <h3>Hampi Tour</h3>
            <div class="clearfix"></div>
            <span>3 N / 4 D</span>
            <p><span><i class="bi bi-geo-alt-fill"></i> Hampi (3N/4D)</span>
              <br>
              Hampi is an ancient village in the south Indian state of Karnataka. It’s dotted with numerous ruined temple complexes from the Vijayanagara Empire. On the south bank of the River Tungabhadra is the 7th-century Hindu Virupaksha Temple, near the revived Hampi Bazaar. A carved stone chariot stands in front of the huge Vittala Temple site. Southeast of Hampi, Daroji Bear Sanctuary is home to the Indian sloth bear. 
            </p>
           
            <div class="clearfix"></div>
          </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card-body">
        <div class="pkgtext-box">
          <div class="pricebx-contr">
            <p class="price-on-request"> Price On Request </p>
            <div class="clearfix"></div>                
           <a [routerLink]="null" class="pkglinks-view text-center">View Details</a>
            <a routerLink="/Enquire_Now" class="pkglinks-enquire text-center">Enquire Now</a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img class="lazy" src="./assets/images/bandipur.jpeg" alt="Bandipur National Park Tour"  style="width:100%; height:150;">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <div class="pkgtext-box">
          <h3>Bandipur National Park Tour</h3>
          <div class="clearfix"></div>
          <span>2 N / 3 D</span>
          <p><span><i class="bi bi-geo-alt-fill"></i> Bandipur (2N/3D)</span>
            <br>
            Bandipur National Park is regarded as one of the most beautiful and better-managed national parks of India.The total extent of Bandipur National Park is 872.24 sq km. It is located partly in Gundlupet taluk of Chamarajanagar District and partly in H.D.Kote and Nanjangud taluks of Mysuru District.
           </p>
          <div class="clearfix"></div>
        </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card-body">
      <div class="pkgtext-box">
        <div class="pricebx-contr">
          <p class="price-on-request"> Price On Request </p>
          <div class="clearfix"></div>                
         <a [routerLink]="null" class="pkglinks-view text-center">View Details</a>
          <a routerLink="/Enquire_Now" class="pkglinks-enquire text-center">Enquire Now</a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
      



