<div class="container-fluid card ">
  <h3 class="text-center m-3">Pilgrimiage Tour Packages</h3>
    <app-read-more-less>
      <p>
        Visiting the numerous pilgrimage sites of India is an extremely spiritual experience. You can actually avail a holistic retreat by paying a visit to this land of various religious beliefs. Indian Holiday offers tours to various religious destinations in India such as Varanasi, vaishno devi, Mansarovar, Mathura, Dharamsala, Amritsar, Rishikesh, Kedarnath, Badrinath, Dwarka, Bodhgaya and Amarnath along with various other destinations for a spiritual experience in India.
      </p>
      <h6>A Gift from the Older Generations</h6>
      <p>Indian heritage and culture are vast and vivid because of the large number of religious groups residing in our country. Every community has its own set of customs and traditions which it passes on to its younger generation.</p>
      
      <p> However, some of our customs and traditions remain the same throughout India.Our traditions teach us to inculcate good habits and make us a good human being. Our cultural heritage is thus a beautiful gift from our older generation that will help us become a better human being and build a harmonious society.</p>
    </app-read-more-less>
    <!-- Three columns of text below the carousel -->
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img class="lazy" src="./assets/images/tamilnadu.jpeg" alt="Rameshwaram Temple" style="width:100%; height:150;">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <div class="pkgtext-box">
              <h3> Madurai Rameshwaram Kanyakumari Tour</h3>
              <div class="clearfix"></div>
              <span>3 N / 4 D</span>
              <p><span><i class="bi bi-geo-alt-fill"></i>Madurai - Rameshwaram - Kanyakumari (3N/4D)</span>
                <br>
                Among the states in South India, Tamil Nadu is known to be more spiritually enlightened as compared to other places which are why we bring together the top three destinations of the state and put them together in our Tamil Nadu Pilgrimage Tour. This meticulously crafted itinerary covers Madurai, the abode of Goddess Parvati and Lord Shiva; Rameshwaram, one of the Char Dham, and Kanyakumari devoted to the virgin Goddess.
              </p>
              <div class="clearfix"></div>
            </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card-body">
          <div class="pkgtext-box">
            <div class="pricebx-contr">
              <p class="price-on-request"> Price On Request </p>
              <div class="clearfix"></div>                
             <a [routerLink]="null" class="pkglinks-view text-center">View Details</a>
              <a routerLink="/Enquire_Now" class="pkglinks-enquire text-center">Enquire Now</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img class="lazy" src="./assets/images/tirupati.jpeg" width="360" height="242" alt="Tirupti temple" title="" style="width:100%; height:150;">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <div class="pkgtext-box">
            <h3>Enchanting Tirupati Tour Package</h3>
            <div class="clearfix"></div>
            <span>2 N / 3 D</span>
            <p><i class="bi bi-geo-alt-fill"></i>Tirupati (2N/3D)
              <br>
              Tirupati is a city in the Indian state of Andhra Pradesh. Its Sri Venkateswara Temple sits atop one of the the 7 peaks of Tirumala Hills, attracting scores of Hindu pilgrims
            </p>
           
            <div class="clearfix"></div>
          </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card-body">
        <div class="pkgtext-box">
          <div class="pricebx-contr">
            <p class="price-on-request"> Price On Request </p>
            <div class="clearfix"></div>                
           <a [routerLink]="null" class="pkglinks-view text-center">View Details</a>
            <a routerLink="/Enquire_Now" class="pkglinks-enquire text-center">Enquire Now</a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img class="lazy" src="./assets/images/warangal.jpeg" alt="1000 pillar temple"  style="width:100%; height:150;">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <div class="pkgtext-box">
          <h3>Essential Warangal</h3>
          <div class="clearfix"></div>
          <span>4 N / 5 D</span>
          <p><span><i class="bi bi-geo-alt-fill"></i> Warangal </span></p>
            
            <p>Warangal, the historical city of Telangana, is a destination worth visiting. A popular weekend getaway from Hyderabad, Warangal presents a beautiful blend of history, cultural vibrancy, architectural masterpieces and mesmerizing nature. Located around 148 km away from Hyderabad, Warangal city also enjoys a good connectivity to the rest of the country.
           </p>
          <div class="clearfix"></div>
        </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card-body">
      <div class="pkgtext-box">
        <div class="pricebx-contr">
          <p class="price-on-request"> Price On Request </p>
          <div class="clearfix"></div>                
         <a [routerLink]="null" class="pkglinks-view text-center">View Details</a>
          <a routerLink="/Enquire_Now" class="pkglinks-enquire text-center">Enquire Now</a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
      



