<div class="container-fluid card">
  <h3 class="text-center mt-2 ">Explore our Top Destinations</h3>
  <div class="row justify-content-evenly ">
    <div id="goa"  class="col-md-3 rounded-3 m-1 h5 text-center  d-flex justify-content-centre align-items-center"><a  routerLink="/goa">  Goa <br>
      A perfect Holiday Destination </a>
    </div><!-- goa col-md-3 -->
    
    <div id="kerala"  class="col-md-3 rounded-3 m-1 h5 text-center text-dark d-flex row justify-content-centre align-items-center"><a  routerLink="/kerala">Kerala <br>God's Own Country </a>
    </div><!-- kerala col-md-3 -->
    
    <div id="ap"  class="col-md-3 rounded-3 m-1 h5 text-center text-dark d-flex row justify-content-centre align-items-center"><a  routerLink="/Andhra_pradesh"> Andhra Pradesh<br>The Essence of Incredible India </a>
    </div><!-- Ap col-md-3 -->
    
    <div id="ts"  class="col-md-3 rounded-3 m-1 h5 text-center text-dark d-flex row justify-content-centre align-items-center"><a  routerLink="/telangana"> Telangana<br>It's all In it</a>
    </div><!-- TS col-md-3 -->
    
    <div id="karnataka"  class="col-md-3 rounded-3 m-1 h5 text-center text-dark d-flex row justify-content-centre align-items-center"><a  routerLink="/karnataka">Karnataka<br>One State Many Worlds</a>
    </div><!-- karnataka col-md-3 -->
    
    <div id="tn"  class="col-md-3 rounded-3 m-1 h5 text-center text-dark d-flex row justify-content-centre align-items-center"><a  routerLink="/tamil_nadu">Tamil Nadu<br>Enchanting Tamil Nadu</a>
    </div><!-- tn col-md-3 --> 
     
  </div>
  <!-- /.row -->
</div>