<div class="container-fluid card ">
  <h3 class="text-center m-3">Kerala Tour Packages</h3>
    <!-- Three columns of text below the carousel -->
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img class="lazy" src="./assets/images/kerala1.jpeg" alt="kerala tour" title="" style="width:100%; height:150;">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <div class="pkgtext-box">
              <h3>Best of Kerala</h3>
              <div class="clearfix"></div>
              <span>7 N / 8 D</span>
              <p><span><i class="bi bi-geo-alt-fill"></i>Cochin - Munnar - Thekkady - Alleppey - Kovalam - Trivandrum (7N/8D)</span>
                <br>
                Take a peek at what God's Own Country has to offer you. Be awed
              </p>
             
              <div class="clearfix"></div>
            </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card-body">
          <div class="pkgtext-box">
            <div class="pricebx-contr">
              <p class="price-on-request"> Price On Request </p>
              <div class="clearfix"></div>                
             <a [routerLink]="null" class="pkglinks-view text-center">View Details</a>
              <a routerLink="/Enquire_Now" class="pkglinks-enquire text-center">Enquire Now</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img class="lazy" src="./assets/images/kerala2.jpeg" alt="kerala family tour" title="" style="width:100%; height:150;">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <div class="pkgtext-box">
            <h3>Enchanting Family Tour</h3>
            <div class="clearfix"></div>
            <span>3 N / 4 D</span>
            <p><span><i class="bi bi-geo-alt-fill"></i> Cochin - Munnar - Allepey - Thekkady - cochin</span>
              <br>
              If a family tour is what you are planning, then Kerala is the destination you must head to. Its enchanting charm and pristine air is sure to bring you and your family closer and give you memories umpteen. Located in South India, Kerala is home to beautiful beaches, hill stations and calm backwaters. From when you land to when you leave, the beauty of this state is sure to mesmerize you.
            </p>
           
            <div class="clearfix"></div>
          </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card-body">
        <div class="pkgtext-box">
          <div class="pricebx-contr">
            <p class="price-on-request"> Price On Request </p>
            <div class="clearfix"></div>                
           <a [routerLink]="null" class="pkglinks-view text-center">View Details</a>
            <a routerLink="/Enquire_Now" class="pkglinks-enquire text-center">Enquire Now</a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img class="lazy" src="./assets/images/kerala3.jpeg" alt="kerala boating" title="" style="width:100%; height:150;">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <div class="pkgtext-box">
          <h3>Amazing Munnar-Alleppey Tour</h3>
          <div class="clearfix"></div>
          <span>4 N / 5 D</span>
          <p><span><i class="bi bi-geo-alt-fill"></i> Munnar -Thekkady - Allepey (4N/5D)</span>
            <br>
            Kerala, a jewel of a tourist destination in the southern part of the country, is known for its alluring charm and beauty. Embraced by the Malabar Coast, jotted by lush coconut groves and fringed by a network of canals, holidays in Kerala or God's Own Country is all about the pristine and untouched beauty of Mother Nature.
           </p>
          <div class="clearfix"></div>
        </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card-body">
      <div class="pkgtext-box">
        <div class="pricebx-contr">
          <p class="price-on-request"> Price On Request </p>
          <div class="clearfix"></div>                
         <a [routerLink]="null" class="pkglinks-view text-center">View Details</a>
          <a routerLink="/Enquire_Now" class="pkglinks-enquire text-center">Enquire Now</a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
      

