<div class="container-fluid card ">
  <h3 class="text-center m-3">Telangana Tour Packages</h3>
    <!-- Three columns of text below the carousel -->
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img class="lazy" src="./assets/images/Charminar.jpeg" alt="Hyderabad tour" style="width:100%; height:150;">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <div class="pkgtext-box">
              <h3>
                Hyderabad Tour</h3>
              <div class="clearfix"></div>
              <span>2 N / 2 D</span>
              <p><span><i class="bi bi-geo-alt-fill"></i>Hyderabad (3N/4D)</span>
                <br>
                Hyderabad Tour with Ramoji Film City is a perfect weekend getaway for you. You will have no worries at all because this 2 nights and 3 days package.
              </p>
             
              <div class="clearfix"></div>
            </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card-body">
          <div class="pkgtext-box">
            <div class="pricebx-contr">
              <p class="price-on-request"> Price On Request </p>
              <div class="clearfix"></div>                
             <a [routerLink]="null" class="pkglinks-view text-center">View Details</a>
              <a routerLink="/Enquire_Now" class="pkglinks-enquire text-center">Enquire Now</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img class="lazy" src="./assets/images/golcondafort.jpeg" alt="golcondafort tour" style="width:100%; height:150;">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <div class="pkgtext-box">
            <h3>Enchanting Family Tour</h3>
            <div class="clearfix"></div>
            <span>3 N / 4 D</span>
            <p><span><i class="bi bi-geo-alt-fill"></i> Hyderabad - charminar - Golconda Fort - Ramoji film city - Salar Jung Museum</span>
              <br>
              If a family tour is what you are planning, then Kerala is the destination you must head to. Its enchanting charm and pristine air is sure to bring you and your family closer and give you memories umpteen. Located in South India, Kerala is home to beautiful beaches, hill stations and calm backwaters. From when you land to when you leave, the beauty of this state is sure to mesmerize you.
            </p>
           
            <div class="clearfix"></div>
          </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card-body">
        <div class="pkgtext-box">
          <div class="pricebx-contr">
            <p class="price-on-request"> Price On Request </p>
            <div class="clearfix"></div>                
           <a [routerLink]="null" class="pkglinks-view text-center">View Details</a>
            <a routerLink="/Enquire_Now" class="pkglinks-enquire text-center">Enquire Now</a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img class="lazy" src="./assets/images/warangal.jpeg" alt="1000 pillar temple"  style="width:100%; height:150;">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <div class="pkgtext-box">
          <h3>Essential Warangal</h3>
          <div class="clearfix"></div>
          <span>4 N / 5 D</span>
          <p><span><i class="bi bi-geo-alt-fill"></i> Warangal (4N/5D)</span>
            <br>
            Warangal, the historical city of Telangana, is a destination worth visiting. A popular weekend getaway from Hyderabad, Warangal presents a beautiful blend of history, cultural vibrancy, architectural masterpieces and mesmerizing nature. Located around 148 km away from Hyderabad, Warangal city also enjoys a good connectivity to the rest of the country.
           </p>
          <div class="clearfix"></div>
        </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card-body">
      <div class="pkgtext-box">
        <div class="pricebx-contr">
          <p class="price-on-request"> Price On Request </p>
          <div class="clearfix"></div>                
         <a [routerLink]="null" class="pkglinks-view text-center">View Details</a>
          <a routerLink="/Enquire_Now" class="pkglinks-enquire text-center">Enquire Now</a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
      


