<div class="container-fluid card ">
  <h3 class="text-center m-3">Goa Tour Pakages</h3>
    <!-- Three columns of text below the carousel -->
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img class="lazy" src="./assets/images/Goa.jpeg" width="360" height="242" alt="water sports activity in goa" title="" style="width:100%; height:150;">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <div class="pkgtext-box">
              <h3>3 Days Trip to Goa</h3>
              <div class="clearfix"></div>
              <span>2 N / 3 D</span>
              <p><i class="bi bi-geo-alt-fill"></i>Goa (2N/3D)
                <br>
                This 3-day Goa itinerary is an ideal option for holidaymakers to enjoy the sun, sand, and surf.
              </p>
             
              <div class="clearfix"></div>
            </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card-body">
          <div class="pkgtext-box">
            <div class="pricebx-contr">
              <p class="price-on-request"> Price On Request </p>
              <div class="clearfix"></div>                
             <a href="/" class="pkglinks-view text-center">View Details</a>
              <a routerLink="/Enquire_Now" class="pkglinks-enquire text-center">Enquire Now</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img class="lazy" src="./assets/images/goaparty.jpg" width="360" height="242" alt="water sports activity in goa" title="" style="width:100%; height:150;">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <div class="pkgtext-box">
            <h3>Delightful Goa Vacation</h3>
            <div class="clearfix"></div>
            <span>3 N / 4 D</span>
            <p><i class="bi bi-geo-alt-fill"></i>Goa (3N/4D)
              <br>
              A paradise for nature lovers, photographers and adventure enthusiasts, the state allures tourists from all across the globe. Bustling markets, ancient churches, happening parties, beautiful beaches, lip-smacking food, water sports, a trip to Goa is a mish-mash of all these attractions.
            </p>
           
            <div class="clearfix"></div>
          </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card-body">
        <div class="pkgtext-box">
          <div class="pricebx-contr">
            <p class="price-on-request"> Price On Request </p>
            <div class="clearfix"></div>                
           <a [routerLink]="null" class="pkglinks-view text-center">View Details</a>
            <a routerLink="/Enquire_Now" class="pkglinks-enquire text-center">Enquire Now</a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img class="lazy" src="./assets/images/goaholiday.webp" width="360" height="242" alt="water sports activity in goa" title="" style="width:100%; height:150;">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <div class="pkgtext-box">
          <h3>Unforgettable Holidays In Goa</h3>
          <div class="clearfix"></div>
          <span>3 N / 4 D</span>
          <p><i class="bi bi-geo-alt-fill"></i>Goa (3N/4D)
            <br>
            Being the party destination of India, Goa is an absolute stunner for all good reasons. People plan to visit here on a weekend or extended weekend trips. For all those people who want to spend a couple of days at this amazing destination.
           </p>
          <div class="clearfix"></div>
        </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card-body">
      <div class="pkgtext-box">
        <div class="pricebx-contr">
          <p class="price-on-request"> Price On Request </p>
          <div class="clearfix"></div>                
         <a [routerLink]="null" class="pkglinks-view text-center">View Details</a>
          <a routerLink="/Enquire_Now" class="pkglinks-enquire text-center">Enquire Now</a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img class="lazy" src="./assets/images/goatourism.jpg" width="360" height="242" alt="water sports activity in goa" title="" style="width:100%; height:150;">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <div class="pkgtext-box">
          <h3>Fun-Filled Week in Goa</h3>
          <div class="clearfix"></div>
          <span>6 N / 7 D</span>
          <p><i class="bi bi-geo-alt-fill"></i>Goa (6N/7D)
            <br>
            Goa lives life to the fullest. Here, wonderful beaches play host to electric parties while the historical structures bear witness to its fascinating heritage.
          </p>
         
          <div class="clearfix"></div>
        </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card-body">
      <div class="pkgtext-box">
        <div class="pricebx-contr">
          <p class="price-on-request"> Price On Request </p>
          <div class="clearfix"></div>                
         <a [routerLink]="null" class="pkglinks-view text-center">View Details</a>
          <a routerLink="/Enquire_Now" class="pkglinks-enquire text-center">Enquire Now</a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
      