<div class="container-fluid card ">
  <h3 class="text-center m-3">Tamil Nadu Tour Packages</h3>
    <!-- Three columns of text below the carousel -->
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img class="lazy" src="./assets/images/tamilnadu.jpeg" alt="Rameshwaram Temple" style="width:100%; height:150;">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <div class="pkgtext-box">
              <h3> Madurai Rameshwaram Kanyakumari Tour</h3>
              <div class="clearfix"></div>
              <span>3 N / 4 D</span>
              <p><span><i class="bi bi-geo-alt-fill"></i>Madurai - Rameshwaram - Kanyakumari (3N/4D)</span>
                <br>
                Among the states in South India, Tamil Nadu is known to be more spiritually enlightened as compared to other places which are why we bring together the top three destinations of the state and put them together in our Tamil Nadu Pilgrimage Tour. This meticulously crafted itinerary covers Madurai, the abode of Goddess Parvati and Lord Shiva; Rameshwaram, one of the Char Dham, and Kanyakumari devoted to the virgin Goddess.
              </p>
             
              <div class="clearfix"></div>
            </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card-body">
          <div class="pkgtext-box">
            <div class="pricebx-contr">
              <p class="price-on-request"> Price On Request </p>
              <div class="clearfix"></div>                
             <a [routerLink]="null" class="pkglinks-view text-center">View Details</a>
              <a routerLink="/Enquire_Now" class="pkglinks-enquire text-center">Enquire Now</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img class="lazy" src="./assets/images/tamilnadu1.jpeg" alt="Tourist Places in Tamilnadu" style="width:100%; height:150;">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <div class="pkgtext-box">
            <h3>Complete Tamilnadu Tour</h3>
            <div class="clearfix"></div>
            <span>13 N / 14 D</span>
            <p><span><i class="bi bi-geo-alt-fill"></i> Chennai - Kanchipuram - Mahabalipuram - Pondicherry - Thanjavur - Trichy - Madurai - Rameshwaram - Madurai - Chennai (13N/14D)</span>
              <br>
              Tamil Nadu, a South Indian state, is famed for its Dravidian-style Hindu temples. In Madurai, Meenakshi Amman Temple has high "gopuram" towers ornamented with colourful figures. On Pamban Island, Ramanathaswamy Temple is a pilgrimage site. The town of Kanyakumari, at India's southernmost tip, is the site of ritual sunrises
            </p>
           
            <div class="clearfix"></div>
          </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card-body">
        <div class="pkgtext-box">
          <div class="pricebx-contr">
            <p class="price-on-request"> Price On Request </p>
            <div class="clearfix"></div>                
           <a [routerLink]="null" class="pkglinks-view text-center">View Details</a>
            <a routerLink="/Enquire_Now" class="pkglinks-enquire text-center">Enquire Now</a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img class="lazy" src="./assets/images/bandipur.jpeg" alt="Bandipur National Park Tour"  style="width:100%; height:150;">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <div class="pkgtext-box">
          <h3>Chennai-Tiruchirappalli(Trichy) Tour</h3>
          <div class="clearfix"></div>
          <span>6 N / 7 D</span>
          <p><span><i class="bi bi-geo-alt-fill"></i> Chennai - Mahabalipuram - Pondicherry - Thanjavur - Trichy (6N/7D)</span>
            <br>
            The tour, starting from Chennai, covers the important destinations of Pondicherry, including the erstwhile French colony of Auroville and Aurobindo Ashram, as well as Thanjavur, Trichy and Mahabalipuram. Designed to let you have a cherishing experience of the South India, the Chennai Trichy tour is a wonderful sightseeing and expedition package. 
           </p>
          <div class="clearfix"></div>
        </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card-body">
      <div class="pkgtext-box">
        <div class="pricebx-contr">
          <p class="price-on-request"> Price On Request </p>
          <div class="clearfix"></div>                
         <a [routerLink]="null" class="pkglinks-view text-center">View Details</a>
          <a routerLink="/Enquire_Now" class="pkglinks-enquire text-center">Enquire Now</a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
      




