<div class="container-fluid card ">
  <h3 class="text-center m-3">Hill Station Tour Packages</h3>
    <app-read-more-less>
      
      <p>Visiting a hill station in the summers is the best getaway from the scorching heat of the city you live in. In addition to that, the pleasant weather and temperature are suitable for meditation and health restoration activities. </p>
      
      <p> India is a hot country with very high temperatures during April, May, and June. A short trip to a hill station every summer is exciting and quite tempting. Everybody wants to escape the blazing heat to refresh and rejuvenate. People who cannot afford to travel abroad are always keen to visit nearby hill stations to enjoy the summers. It is a great escapade for people, away from the high temperatures of the plains. </p>
     
      
      <p>Numerous beautiful geological structures found in different parts of India. Best of the splendid geological structures that form a part of our country include Lonar Crater Lake, Siachen Glacier, Jammu and Kashmir, Pillar Rocks, Kodaikanal, Barren Island, Andamans, Magnetic Hill, Leh, Columnar Basaltic Lava, Udupi, and Toad Rock. All these structures are true wonders of nature. A lot of tourists every year from around the world especially visit these places just to catch a glimpse of these marvelous creations of God.</p>
    </app-read-more-less>
    <!-- Three columns of text below the carousel -->
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="./assets/images/hill-station.jpeg" width="360" height="242" alt="" title="hill-station" style="width:100%; height:150;">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <div class="pkgtext-box">
              <h3>
                Shimla Tour Package</h3>
              <div class="clearfix"></div>
              <span>6 N / 7 D</span>
              <p><span><i class="bi bi-geo-alt-fill"></i>Delhi - Shimla - Kufri - Manali - Rohtang Pass - Chandigarh</span>
                <br>
                Shimla is a beautiful Hill station in the lap of Himachal Pradesh and is also its capital. It is located at an altitude of 2213 m. Shimla derives its name from goddess 'Shayamla Devi' , another form of Goddess Kali. Shimla has been blessed with natural beauty and is surrounded by green pastures and snow-capped peaks.
              </p>
              <div class="clearfix"></div>
            </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card-body">
          <div class="pkgtext-box">
            <div class="pricebx-contr">
              <p class="price-on-request"> Price On Request </p>
              <div class="clearfix"></div>                
             <a [routerLink]="null" class="pkglinks-view text-center">View Details</a>
              <a routerLink="/Enquire_Now" class="pkglinks-enquire text-center">Enquire Now</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img class="lazy" src="./assets/images/darjeeling.jpeg" width="360" height="242" alt="Darjeeling train" title="" style="width:100%; height:150;">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <div class="pkgtext-box">
            <h3>Darjeeling Gangtok Tour</h3>
            <div class="clearfix"></div>
            <span>6 N / 7 D</span>
            <p><i class="bi bi-geo-alt-fill"></i>Darjeeling  - Gangtok </p>
              
              <p>Darjeeling is a town in India's West Bengal state, in the Himalayan foothills. Once a summer resort for the British Raj elite, it remains the terminus of the narrow-gauge Darjeeling Himalayan Railway, or “Toy Train,” completed in 1881. It's famed for the distinctive black tea grown on plantations that dot its surrounding slopes. Its backdrop is Mt. Kanchenjunga, among the world’s highest peaks.
             </p>
           
            <div class="clearfix"></div>
          </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card-body">
        <div class="pkgtext-box">
          <div class="pricebx-contr">
            <p class="price-on-request"> Price On Request </p>
            <div class="clearfix"></div>                
           <a [routerLink]="null" class="pkglinks-view text-center">View Details</a>
            <a routerLink="/Enquire_Now" class="pkglinks-enquire text-center">Enquire Now</a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="./assets/images/araku.jpeg" width="360" height="242" alt="Aaraku valley" title="" style="width:100%; height:150;">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <div class="pkgtext-box">
          <h3>Araku,Haritha Hill Resort</h3>
          <div class="clearfix"></div>
          <span>3 N / 4 D</span>
          <p><span><i class="bi bi-geo-alt-fill"></i>Araku,Visakhapatnam </span>
            <br>
            Araku Valley is a hill station and valley region in the southeastern Indian state of Andhra Pradesh. It's surrounded by the thick forests of the Eastern Ghats mountain range. The Tribal Museum is dedicated to the area's numerous indigenous tribes, known for their traditional Dhimsa dance, and showcases traditional handicrafts. A miniature train runs through Padmapuram Gardens, with its sculptures and tree-top huts. 
          </p>
          <div class="clearfix"></div>
        </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card-body">
      <div class="pkgtext-box">
        <div class="pricebx-contr">
          <p class="price-on-request"> Price On Request </p>
          <div class="clearfix"></div>                
         <a [routerLink]="null" class="pkglinks-view text-center">View Details</a>
          <a routerLink="/Enquire_Now" class="pkglinks-enquire text-center">Enquire Now</a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
      


