<div class="container-fluid card ">
  <h3 class="text-center m-3">Wildlife Tour Packages</h3>
    <app-read-more-less>
      <p>India boasts of many wildlife sanctuaries and they are its ideal showcase. Indian wildlife is really diverse ranging from beautiful peacocks, majestic tigers, to enormous elephants. Most of the chief states of India encompass these sanctuaries and commendably, some of these are also involved in the task of preserving and conserving the endangered animal species. Going with the facts and figures, there are 441 sanctuaries, 80 national parks, and 23 tiger reserves which have been set up across India with the direct involvement and active support of Indian Government.</p>
      
      <p> In India, these wildlife reserves have become a hot spot for the tourists. People especially visit the country for witnessing the fascinating wildlife it holds. If you are a person driven by an adrenaline rush, then the Indian wildlife sanctuaries will provide you with much sought after excitement and thrill. Not only you will witness a diverse range of fauna and flora but you'll be spellbound with the diversity in topography. These are not just perfect getaways for the wildlife enthusiasts but are a heaven for nature lovers as well.</p>
     
    </app-read-more-less>
    <!-- Three columns of text below the carousel -->
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img class="lazy" src="./assets/images/wildlife1.jpeg" alt="Tigers" style="width:100%; height:150;">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <div class="pkgtext-box">
              <h3>Ranthambore National Park Tour Packages</h3>
              <div class="clearfix"></div>
              <span>2 N / 3 D</span>
              <p><span><i class="bi bi-geo-alt-fill"></i>Sawai Madhopur,Rajasthan</span></p>
                
                <p> Ranthambore National Park is a vast wildlife reserve near the town of Sawai Madhopur in Rajasthan, northern India. It is a former royal hunting ground and home to tigers, leopards and marsh crocodiles. Its landmarks include the imposing 10th-century Ranthambore Fort, on a hilltop, and the Ganesh Mandir temple. Also in the park, Padam Talao Lake is known for its abundance of water lilies.
              </p>
              <div class="clearfix"></div>
            </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card-body">
          <div class="pkgtext-box">
            <div class="pricebx-contr">
              <p class="price-on-request"> Price On Request </p>
              <div class="clearfix"></div>                
             <a [routerLink]="null" class="pkglinks-view text-center">View Details</a>
              <a routerLink="/Enquire_Now" class="pkglinks-enquire text-center">Enquire Now</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img class="lazy" src="./assets/images/bandipur.jpeg" alt="Bandipur National Park Tour"  style="width:100%; height:150;">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <div class="pkgtext-box">
            <h3>Bandipur National Park Tour</h3>
            <div class="clearfix"></div>
            <span>2 N / 3 D</span>
            <p><span><i class="bi bi-geo-alt-fill"></i> Bandipur (2N/3D)</span>
              <br>
              Bandipur National Park is regarded as one of the most beautiful and better-managed national parks of India.The total extent of Bandipur National Park is 872.24 sq km. It is located partly in Gundlupet taluk of Chamarajanagar District and partly in H.D.Kote and Nanjangud taluks of Mysuru District.
             </p>
            <div class="clearfix"></div>
          </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card-body">
        <div class="pkgtext-box">
          <div class="pricebx-contr">
            <p class="price-on-request"> Price On Request </p>
            <div class="clearfix"></div>                
           <a [routerLink]="null" class="pkglinks-view text-center">View Details</a>
            <a routerLink="/Enquire_Now" class="pkglinks-enquire text-center">Enquire Now</a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img class="lazy" src="./assets/images/wildlife2.jpeg" alt="1000 pillar temple"  style="width:100%; height:150;">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <div class="pkgtext-box">
          <h3>Gir National Park Tour </h3>
          <div class="clearfix"></div>
          <span>4 N / 5 D</span>
          <p><span><i class="bi bi-geo-alt-fill"></i> Gujarat </span></p>
            
            <p>Gir Forest National Park is a wildlife sanctuary in Gujarat, western India. It was established to protect Asiatic lions, who frequent the fenced-off Devalia Safari Park, along with leopards and antelopes. Gir Jungle Trail, outside the fenced area, traverses deciduous forest and is home to wildlife including vultures and pythons. The Kamleshwar Dam has marsh crocodiles and birds, such as Indian skimmers and pelicans. 
           </p>
          <div class="clearfix"></div>
        </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card-body">
      <div class="pkgtext-box">
        <div class="pricebx-contr">
          <p class="price-on-request"> Price On Request </p>
          <div class="clearfix"></div>                
         <a [routerLink]="null" class="pkglinks-view text-center">View Details</a>
          <a routerLink="/Enquire_Now" class="pkglinks-enquire text-center">Enquire Now</a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
      


