<div class="container-fluid card ">
  <h3 class="text-center m-3">Heritage Tour Packages</h3>
    <app-read-more-less>
      <h6>A Gift from the Older Generations</h6>
      <p>Indian heritage and culture are vast and vivid because of the large number of religious groups residing in our country. Every community has its own set of customs and traditions which it passes on to its younger generation.</p>
      
      <p> However, some of our customs and traditions remain the same throughout India.Our traditions teach us to inculcate good habits and make us a good human being. Our cultural heritage is thus a beautiful gift from our older generation that will help us become a better human being and build a harmonious society.</p>
     
      <h6>Beautiful Geological Structures</h6>
      <p>Numerous beautiful geological structures found in different parts of India. Best of the splendid geological structures that form a part of our country include Lonar Crater Lake, Siachen Glacier, Jammu and Kashmir, Pillar Rocks, Kodaikanal, Barren Island, Andamans, Magnetic Hill, Leh, Columnar Basaltic Lava, Udupi, and Toad Rock. All these structures are true wonders of nature. A lot of tourists every year from around the world especially visit these places just to catch a glimpse of these marvelous creations of God.</p>
    </app-read-more-less>
    <!-- Three columns of text below the carousel -->
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img class="lazy" src="./assets/images/karnataka.jpeg" alt="A carved stone chariot" style="width:100%; height:150;">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <div class="pkgtext-box">
              <h3>Hampi Tour</h3>
              <div class="clearfix"></div>
              <span>3 N / 4 D</span>
              <p><span><i class="bi bi-geo-alt-fill"></i> Hampi (3N/4D)</span></p>
                
                <p> Hampi is an ancient village in the south Indian state of Karnataka. It’s dotted with numerous ruined temple complexes from the Vijayanagara Empire. On the south bank of the River Tungabhadra is the 7th-century Hindu Virupaksha Temple, near the revived Hampi Bazaar. A carved stone chariot stands in front of the huge Vittala Temple site. Southeast of Hampi, Daroji Bear Sanctuary is home to the Indian sloth bear.
              </p>
              <div class="clearfix"></div>
            </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card-body">
          <div class="pkgtext-box">
            <div class="pricebx-contr">
              <p class="price-on-request"> Price On Request </p>
              <div class="clearfix"></div>                
             <a [routerLink]="null" class="pkglinks-view text-center">View Details</a>
              <a routerLink="/Enquire_Now" class="pkglinks-enquire text-center">Enquire Now</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img class="lazy" src="./assets/images/andhra-pradesh-buddhist-tour.jpeg" width="360" height="242" alt="andhra-pradesh-buddhist-tour" title="" style="width:100%; height:150;">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <div class="pkgtext-box">
            <h3>Andhra Pradesh Buddhist Tour</h3>
            <div class="clearfix"></div>
            <span>6 N / 7 D</span>
            <p><i class="bi bi-geo-alt-fill"></i>Vijayawada- Amravati - Visakhapatnam </p>
              
              <p>The roots of Buddhism are spread  across different parts of the country and Andhra Pradesh is no exception.
              The Buddhist ruins and remains lying in Nagarjunkonda, Warangal and Amravati are quite exquisite and important for Buddhists and admirers of art and architecture.
             </p>
           
            <div class="clearfix"></div>
          </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card-body">
        <div class="pkgtext-box">
          <div class="pricebx-contr">
            <p class="price-on-request"> Price On Request </p>
            <div class="clearfix"></div>                
           <a [routerLink]="null" class="pkglinks-view text-center">View Details</a>
            <a routerLink="/Enquire_Now" class="pkglinks-enquire text-center">Enquire Now</a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img class="lazy" src="./assets/images/warangal.jpeg" alt="1000 pillar temple"  style="width:100%; height:150;">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <div class="pkgtext-box">
          <h3>Essential Warangal</h3>
          <div class="clearfix"></div>
          <span>4 N / 5 D</span>
          <p><span><i class="bi bi-geo-alt-fill"></i> Warangal </span></p>
            
            <p>Warangal, the historical city of Telangana, is a destination worth visiting. A popular weekend getaway from Hyderabad, Warangal presents a beautiful blend of history, cultural vibrancy, architectural masterpieces and mesmerizing nature. Located around 148 km away from Hyderabad, Warangal city also enjoys a good connectivity to the rest of the country.
           </p>
          <div class="clearfix"></div>
        </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card-body">
      <div class="pkgtext-box">
        <div class="pricebx-contr">
          <p class="price-on-request"> Price On Request </p>
          <div class="clearfix"></div>                
         <a [routerLink]="null" class="pkglinks-view text-center">View Details</a>
          <a routerLink="/Enquire_Now" class="pkglinks-enquire text-center">Enquire Now</a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
      

