<div class="container-fluid px-0">
         <div class="container-fluid px-0 searchbg">
            <img src="./assets/images/searchbg.jpg" class="image-fluid w-100  px-0 mx-0" style="height:350;" alt="Hotel Banner">           
            <div class="container-fluid px-0 httop-searchform ">
               <div class="container-fluid ">
                  <div class="row justify-content-around ">
                     <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8 col-sm-offset-1 col-md-offset-2 col-lg-offset-2 bght">
                        <div class="col-lg-12">
                           <form class="">
                              <div class="row ">
                                 <div class="col-xs-10 htshfiedl1">
                                    <input class="htsearchlst form-control" type="text" placeholder="Enter City, Area, Locality or Hotel Name..." autocomplete="off">
                                 </div>
                                 <div class="col-xs-2">
                                    <input type="submit" class="htsearch-topbtt disabled" id="hm_srch" value="Search">
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
      </div>
   </div>
   <div class="container-fluid mt-2 px-0">
      <div class="row w-100">
         <div class="col-md-4">
            <div class="hthead-txt1 text-center">Top Deals</div>
            <div class="httop-dealbx">
               <div class="media">
                  <a class="pull-left"  routerLink="null">
                     <img src="./assets/images/goa-holiday.jpg" s class="lazy"  width="92" height="69" alt="Zuri White Sands Resort Goa" style="display: inline;">
                  </a>
                  <div class="media-body httop-txtbx">
               <a routerLink="null"  class="httop-namelk">The Zuri White Sands Resort Goa</a>
               <img src="./assets/images/starlist2.png"  width="80" height="19" alt="5 Star" class="lazy" style="display: inline;">
               <a routerLink="null"  class="httop-alllk">view details</a>
            </div>
         </div>
      </div>
      <div class="httop-dealbx">
         <div class="media">
            <a class="pull-left" routerLink="null" >
               <img src="./assets/images/goa-holiday.jpg" width="92" height="69" alt="Holiday Inn Resort Goa, an IHG Hotel" class="lazy" style="display: inline;">
            </a>
            <div class="media-body httop-txtbx">
               <a routerLink="null" class="httop-namelk">Holiday Inn Resort Goa, an IHG Hotel</a>
               <img src="./assets/images/starlist2.png" width="80" height="19" alt="5 Star">
               <a  routerLink="null" class="httop-alllk">view details</a>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-5">
      <div class="text-center">
         <h2 class="hthead-txt1">Popular Destinations</h2>
         </div>
         <div class="htpopl-destbx">
            <ul class="list-inline">
               <li><a  routerLink="null">New Delhi</a></li>
               <li><a  routerLink="null">Mumbai</a></li>
               <li><a  routerLink="null">Goa</a></li>
               <li><a  routerLink="null">Jaipur</a></li>
               <li><a  routerLink="null">Jaisalmer</a></li>
               <li><a  routerLink="null">Kovalam</a></li>
               <li><a  routerLink="null">Varanasi</a></li>
               <li><a  routerLink="null">Hyderabad</a></li>
               <li><a  routerLink="null">Shimla</a></li>
               <li><a  routerLink="null">Udaipur</a></li>
               <li><a  routerLink="null">Kumarakom</a></li>
               <li><a  routerLink="null">Nainital</a></li>
               <li><a  routerLink="null">Cochin</a></li>
               <li><a  routerLink="null">Kashmir</a></li>
               <li><a  routerLink="null">Alleppey</a></li>
               <li><a  routerLink="null">Sikkim</a></li>
               <li><a  routerLink="null">Mussoorie</a></li>
               <li><a  routerLink="null">Agra</a></li>
               <li><a  routerLink="null">Chennai</a></li>
               <li><a  routerLink="null">Gujarat</a></li>
               <li><a  routerLink="null">Kolkata</a></li>
            </ul>
         </div>
      </div>
      <div class="col-md-3 mt-5">
         <div class="card">
            <div class="card-body text-center">
               <h5 class="card-title ">Hotels in india </h5>
               <a routerLink="null" class="btn btn-sm btn-danger disabled">View all Destinations</a>
            </div>
         </div>
      </div>
   </div>
  </div>
</div>